# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=

# -----------------------------------------------------------------------------
# Google OAuth Credentials
# -----------------------------------------------------------------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
NEXT_PUBLIC_API_URL=

# -----------------------------------------------------------------------------
# Secret Key
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SECRET_KEY=